@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playpen+Sans:wght@800&family=Yellowtail&display=swap');

#Sp{
  background-color:#B7A4D5;
}
#ybtncolor{
  color:white;
}
  nav{
  /*position: fixed;*/
  z-index: 99;
  width: 100%;
 background:#483248;
}
nav .wrapper{
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .logo a{
  color:#fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.wrapper .nav-links{
  display: inline-flex;
}
.nav-links li{
  list-style: none;
}
.nav-links li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links li a:hover{
  background:#483248;
}
.nav-links .mobile-item{
  display: none;
}
.nav-links .drop-menu{
  position: absolute;
  background:#483248;
  width: 180px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box{
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}
.drop-menu li a{
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}
.mega-box{
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 30px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}
.mega-box .content{
  background:#483248; /*To change the mega menu background*/
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.mega-box .content .row{
  width: calc(25% - 30px);
  line-height: 45px;
}
.text h1{
  font-size:35px;
}
.content .row img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .row header{
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 500;
}
.content .row .mega-links{
  margin-left: -40px;
  border-left: 1px solid rgba(255,255,255,0.09);
}
.row .mega-links li{
  padding: 0 20px;
}
.row .mega-links li a{
  padding: 0px;
  padding: 0 20px;
  color: #d9d9d9;
  font-size: 17px;
  display: block;
}
.row .mega-links li a:hover{
  color: #C3B1E1;
}

.wrapper .btn{
  color: #C3B1E1;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
#Sm{
  margin-top: 0;
  margin-bottom: 1rem;
  color:white;
}
.wrapper .btn.close-btn{
  position: absolute;
  right: 30px;
  top: 10px;
}
/*p{
  margin-top:0;
  margin-bottom:1rem;
  font-size:25px;
}*/
.text ul li{
  font-size:25px;
  color:black;
  font-weight:bolder;
}

@media screen and (max-width: 970px) {
  .wrapper .btn{
    display: block;
  }
  .wrapper .nav-links{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background:#483248;/*Here to change the humbarger menu color*/
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
    transition: all 0.3s ease;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background:purple;
  }
  ::-webkit-scrollbar-thumb {
    background:purple;
  }
  #menu-btn:checked ~ .nav-links{
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn{
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn{
    display: block;
  }
  .nav-links li{
    margin: 15px 10px;
  }
  .nav-links li a{
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu{
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box{
    max-height: 100%;
  }
  .nav-links .desktop-item{
    display: none;
  }
  .nav-links .mobile-item{
    display: block;
    color:white;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover{
    background: #3A3B3C;
  }
  .drop-menu li{
    margin: 0;
  }
  .drop-menu li a{
    border-radius: 5px;
    font-size: 18px;
  }
  .mega-box{
   position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content{
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box .content .row{
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255,255,255,0.08);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2){
    border-top: 0px;
  }
  .content .row .mega-links{
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li{
    margin: 0;
  }
  .content .row header{
    font-size: 19px;
  }
}
nav input{
  display: none;
}

.section{
  background-color:#BDB5D5;
  display:flex;
  justify-content:space-between;
  padding:70px;
  width:80%;
  margin:5rem auto 0 auto;
}
.section img{
   height:250px;
}
.section h1{
  margin:0;
  color:#483248;
  font-size:30px;
}
.section p{
  color:#483248;
  margin-right:15px;
}
#Head{
  font-size:23px;
  font-weight:bolder;
}

.modern-button{
    background-color:#483248;
    color:white;
    border:none;
    padding:10px 20px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    font-size:16px;
    margin:5px;
    cursor:pointer;
    border-radius:50%;
    width:50px;
    height:50px;
  }
  .modern-button:hover{
    background-color:#AA336A;
  }
   .button-container{
    display:wrap;
    flex-wrap:wrap;
    gap:10px;
   }
   .search-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 10px;
    }
    @media screen and (max-width:768px){
      .button-container{
        flex-direction:column;
        align-items:center;
       }
       .search-container{
         flex-direction:column;
         align-items:center;
       }
    }
    .modern-button{
      marging:5px;
    }
  .btn1{
    background-color: #340a4d;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 16px;
    margin: 10px 10px;
    cursor: pointer;
  }
  .btn1 a{
    color:#fff;
    text-decoration:none;
  }
  .btn2{
    background-color: #340a4d;
    color: #fff;
    border: none;
   border-radius: 5px;
    padding: 15px 30px;
    font-size: 16px;
    margin: 10px 10px;
    cursor: pointer;
  }
  .btn2 a{
    color:#fff;
    text-decoration:none;
  }
  .btn1:hover{
    background-color:black;
  }
  .btn2:hover{
    background-color:darkred;
  }
  @media (max-width:768px){
    .section{
      flex-direction:column;
      padding:20px;
      text-align:center;
    }
    .section img{
      max-width:100%;
      height:auto;
    }
    .modern-button{
      margin:10px auto;
    }
    .btn1, .btn2{
      width:100%;
    }
  }
img {
    max-width: 30%; 
    height:40%;
    margin-right: 20px;
}

.text {
    flex: 1;
}
#Hea{
  font-weight:bolder;
  text-decoration:underline;
 }

.Select {
  position:absolute;
  transform:translate(-50%,-50%);
  top:30%;
  left:15%;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  width:305px;
  padding:10px 20px;
  background-color:#483248;
  font-size:20px;
  letter-spacing:0.5px ;
  color:#fff;
  font-weight:bolder;
  cursor:pointer;
  border:6px solid purple;
  border-radius:6px;
  background-image:url("../IMG/down-arrow.png");
  background-repeat:no-repeat;
  background-size:47px;
  background-position:247px 0;
  outline:none;
  box-shadow:0 0 20px rgba(20,20,30,0,25);

}
select::-ms-expand{
  display:none;
}
select:hover{
  border: 6px solid purple;
}
select option{
  background-color:purple;
  letter-spacing:1.2px;
  font-weight:400;
  font-size:18px;
}
.select{
  display:none;
}
footer{
  /*position: fixed;*/
  bottom: 20px;
  width: 100%;
  background: #483248;
  overflow:hidden;
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  color:white;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #483248;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #261b26;
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #735173;
}
.center .content .fas{
  font-size: 1.4375rem;
  background:white;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: #735173;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
  color:white;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color:white;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background:white;
  padding-left: 10px;
  border: 1px solid white;
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #3498db;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #291729;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: #;
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background:#D8BFD8;
}
.bottom center span{
  color: white;
  font-weight:bolder;
}
.bottom center a{
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}
 
 #ypgs{
  width: 10vw;
  color:white;
}
.Go{
  color:white;
  font-weight:bolder;
 }
